<mat-drawer-container class="carrier-container">
  <mat-drawer mode="side" opened class="carrier-left-container">
    <mat-form-field>
    <mat-label>Carrier Name</mat-label>
    <input matInput [(ngModel)]="carrier.carrierName" type="text" id="carrierName" class="form-control" >
  </mat-form-field>
  <mat-form-field>
    <mat-label>Carrier Is Active</mat-label>
    <mat-select [(ngModel)]="carrier.carrierIsActive">
      <mat-option ng-value="true">true</mat-option>
      <mat-option ng-value="false">false</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Carrier Plus Desi Cost</mat-label>
    <input matInput [(ngModel)]="carrier.carrierPlusDesiCost" type="number" id="carrierPlusDesiCost" class="form-control" >
  </mat-form-field>
  <button mat-flat-button class="btn" color="primary" (click)="createCarrier()" >Carrier Ekle</button>
  </mat-drawer>
  <mat-drawer-content>


    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> id. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="carrierName">
        <th mat-header-cell *matHeaderCellDef> carrierName </th>
        <td mat-cell *matCellDef="let element"> {{element.carrierName}} </td>
      </ng-container>

      <ng-container matColumnDef="carrierIsActive">
        <th mat-header-cell *matHeaderCellDef> carrierIsActive </th>
        <td mat-cell *matCellDef="let element"> {{element.carrierIsActive}} </td>
      </ng-container>

      <ng-container matColumnDef="carrierPlusDesiCost">
        <th mat-header-cell *matHeaderCellDef> carrierPlusDesiCost </th>
        <td mat-cell *matCellDef="let element"> {{element.carrierPlusDesiCost}} </td>
      </ng-container>


    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef style="margin-left: 59px;"></th>
      <td mat-cell *matCellDef="let element">  <button mat-flat-button class="btn" color="accent"  >Düzenle</button></td>/
    </ng-container>

    <ng-container matColumnDef="remove">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">  <button mat-flat-button class="btn" color="warn"  (click)="deleteCarrier(element.id)" >Sil</button></td>/
    </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>


  </mat-drawer-content>
</mat-drawer-container>






    <!-- <h3>Carriers List</h3>
    <hr>
    <ng-container>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Carrier Name</th>
            <th scope="col">Carrier Is Active</th>
            <th scope="col">Carrier Plus Desi Cost</th>
            <th scope="col">Remove</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let carrier of allCarriers">
            <th scope="row">{{carrier.id}}</th>
            <td>{{carrier.carrierName}}</td>
            <td>{{carrier.carrierIsActive}}</td>
            <td>{{carrier.carrierPlusDesiCost}}</td>
            <td><button mat-stroked-button color="warn">Warn</button></td>
          </tr>
        </tbody>
      </table>
    </ng-container> -->
